<!DOCTYPE html>
<html>
    <head>
        <title>Super Bowling</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
      <h1>Welcome to the Super Bowl!</h1>
    </body>
</html>
