<!DOCTYPE html>
<html>
    <head>
        <title>MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Feel at home, anywhere</h1>
        <h2>Sign up to MakersBnB</h2>
        <form action="/" method="POST">
            <div class='signup_form'>
            <label>Name</label>
            <input type="text" name="name" maxlength="100" required><br /><br />
            <label>Email Address</label>
            <input type="email" name="email" maxlength="100" required><br /><br />
            <label>Date of Birth</label>
            <input type="date" name="dob" required><br /><br />
            <label>Password</label>
            <input type="password" name="password" minlength="8" maxlength="8" required><br /><br />
            <label>Password Confirmation</label>
            <input type="password" name="password_confirmation" minlength="8" maxlength="8" required><br /><br />
            <input type="submit" value="Sign Up" class="button">
            </div>
        </form>
        <form action="/sessions/new" method="GET">
          <div class='signup_form'>
          <input type="submit" value="Login" class="button">
          </div>
        </form>
    </body>
</html>
